MAPVOICE_MODEL_NAME=sarvamai/sarvam-1
MAPVOICE_ADAPTER_PATH=
MAPVOICE_DEVICE=auto


# Optional TTS integration
MAPVOICE_TTS_ENABLED=false
MAPVOICE_TTS_PROVIDER=sarvam
SARVAM_API_KEY=
SARVAM_TTS_MODEL=bulbul:v2
SARVAM_TTS_SPEAKER=anushka
SARVAM_TTS_TARGET_LANGUAGE=kn-IN
